{% extends "layout.html" %}

{% block main %}

    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.cs" rel="stylesheet">

    <div class="col-12">
        <table class="table">

            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Programming Language</th>
                </tr>
            </thead>

            <tbody>
                {% for record in records %}

                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ record[0] }}</td>
                        <td>{{ record[1] }}</td>
                        <td>{{ record[2] }}</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}